.testimonial {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "testi_1 testi_1 testi_2 testi_3"
    "testi_4 testi_5 testi_5 testi_3";
  grid-gap: 1.625rem;
  width: 80vw;
  height: 60vh;
  margin: auto;

  @include tablet {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "testi_1 testi_1 testi_2"
      "testi_4 testi_5 testi_5"
      "testi_3 testi_3 testi_3";
  }

  @include mobile {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas:
      "testi_1"
      "testi_1"
      "testi_2"
      "testi_4"
      "testi_5"
      "testi_5"
      "testi_3"
      "testi_3";
  }

  .testimonial__1,
  .testimonial__2,
  .testimonial__3,
  .testimonial__4,
  .testimonial__5 {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    box-shadow: 6px 6px 10px rgba($color: #000000, $alpha: 0.2);

    .testimonial__user {
      @include flexCenter(column);
      justify-content: space-evenly;
      align-items: flex-start;
      width: 90%;
      height: 80%;
      margin: 1.5rem auto 2rem auto;

      .user__data {
        display: flex;
        justify-content: space-between;
        width: 40%;
        z-index: 5;

        img {
          border: 2px solid rgba($color: #fff, $alpha: 0.4);
          border-radius: 50%;
        }

        .user__status {
          @include flexCenter(column);
          justify-content: center;
          align-items: flex-start;
          flex-wrap: wrap;
          color: $white;

          h5 {
            font-size: 1.125rem;
            font-weight: 600;
          }

          p {
            font-weight: 500;
            opacity: 0.5;
          }
        }
      }

      h2 {
        font-size: 1.125rem;
        color: $white;
      }

      p {
        color: $white;
        opacity: 0.7;
        font-weight: 500;
      }
    }
  }

  .testimonial__1 {
    grid-area: testi_1;
    background-color: $moderateViolet;
    background-image: url(/images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: 80% 0%;

    @include tablet {
      grid-area: testi_1;
    }

    @include mobile {
      grid-area: testi_1;
    }
  }

  .testimonial__2 {
    grid-area: testi_2;
    background-color: $veryDarkGrayishBlue;

    @include tablet {
      grid-area: testi_2;
    }

    @include mobile {
      grid-area: testi_2;
    }

    .testimonial__user {
      width: 80%;
      height: 80%;

      .user__data {
        width: 12.875rem;

        @include tablet {
          width: 100%;
        }
      }
    }
  }

  .testimonial__3 {
    grid-area: testi_3;
    background-color: $white;

    @include tablet {
      grid-area: testi_3;
    }

    @include mobile {
      grid-area: testi_3;
    }

    .testimonial__user {
      width: 80%;
      height: 90%;

      .user__data {
        width: 10.875rem;

        .user__status {
          color: $veryDarkBlackishBlue;

          p {
            color: inherit;
          }
        }
      }

      h2,
      p {
        color: $veryDarkBlackishBlue;
      }
    }
  }

  .testimonial__4 {
    grid-area: testi_4;
    background-color: $white;

    @include tablet {
      grid-area: testi_4;
    }

    @include mobile {
      grid-area: testi_4;
    }

    .testimonial__user {
      width: 80%;
      height: 80%;

      .user__data {
        width: 12.875rem;

        @include tablet {
          width: 100%;
        }

        .user__status {
          color: $veryDarkBlackishBlue;

          p {
            color: inherit;
          }
        }
      }

      h2,
      p {
        color: $veryDarkBlackishBlue;
      }
    }
  }

  .testimonial__5 {
    grid-area: testi_5;
    background-color: $veryDarkBlackishBlue;

    @include tablet {
      grid-area: testi_5;
    }

    @include mobile {
      grid-area: testi_5;
    }

    .testimonial__user {
      .user__data {
        width: 12.875rem;
      }
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}
